In [5]:
import pandas as pd

Reading excel files

In [8]:
df = pd.read_excel('Book1.xlsx')
print(df)

            item  qty  price
0            egg   30     15
1          bread    2    200
2  peanut butter    1    400
3            jam    1    267
4        chicken    2   1000

In [14]:
df = pd.read_excel('Book1.xlsx',index_col=0)
print(df)

               qty  price
item
egg             30     15
bread            2    200
peanut butter    1    400
jam              1    267
chicken          2   1000

In [16]:
df = pd.read_excel('Book1.xlsx',header=None)
print(df)

               0    1      2
0           item  qty  price
1            egg   30     15
2          bread    2    200
3  peanut butter    1    400
4            jam    1    267
5        chicken    2   1000

In [17]:
df = pd.read_excel('Book1.xlsx',dtype={
    'item':str,
    'qty':int,
    'price':float
})
print(df)

            item  qty   price
0            egg   30    15.0
1          bread    2   200.0
2  peanut butter    1   400.0
3            jam    1   267.0
4        chicken    2  1000.0

            item  qty  price
0            egg   30     15
1          bread    2    200
2  peanut butter    1    400
3            jam    1    267
4        chicken    2   1000

Reading Text files

In [21]:
df = pd.read_csv('x.txt',sep=' ')
print(df)

  Batsman  Bowler
0   Rohit  Bumrah
1   Virat   Siraj
2   Rahul   Shami
3   Dhoni  Ashwin
4   Raina  Jadeja

In [22]:
df = pd.read_csv('x.txt',sep=' ',header=None)
print(df)

         0       1
0  Batsman  Bowler
1    Rohit  Bumrah
2    Virat   Siraj
3    Rahul   Shami
4    Dhoni  Ashwin
5    Raina  Jadeja

In [23]:
df = pd.read_csv('x.txt',sep=' ',header = None,names=['Team1','Team2'])
print(df)

     Team1   Team2
0  Batsman  Bowler
1    Rohit  Bumrah
2    Virat   Siraj
3    Rahul   Shami
4    Dhoni  Ashwin
5    Raina  Jadeja

In [24]:
df = pd.read_table('x.txt',delimiter=' ')
print(df)

  Batsman  Bowler
0   Rohit  Bumrah
1   Virat   Siraj
2   Rahul   Shami
3   Dhoni  Ashwin
4   Raina  Jadeja

In [25]:
df = pd.read_table('x.txt',delimiter=' ',header = None)
print(df)

         0       1
0  Batsman  Bowler
1    Rohit  Bumrah
2    Virat   Siraj
3    Rahul   Shami
4    Dhoni  Ashwin
5    Raina  Jadeja

In [26]:
df = pd.read_fwf('x.txt')
print(df)

  Batsman Bowler
0   Rohit Bumrah
1    Virat Siraj
2    Rahul Shami
3   Dhoni Ashwin
4   Raina Jadeja

Reading JSON

In [30]:
import json

In [31]:
data = {
    "One": {
        "0": 60,
        "1": 60,
        "2": 60,
        "3": 45,
        "4": 45,
        "5": 60
    },
    "Two": {
        "0": 110,
        "1": 117,
        "2": 103,
        "3": 109,
        "4": 117,
        "5": 102
    }
}

df_read_json=pd.read_json(json.dumps(data),orient='index')
print(df_read_json)

       0    1    2    3    4    5
One   60   60   60   45   45   60
Two  110  117  103  109  117  102

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17268\2430723808.py:20: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_read_json=pd.read_json(json.dumps(data),orient='index')

In [34]:
json_data= json.dumps(data)
df_json=pd.json_normalize(json.loads(json_data))
print(df_json)

   One.0  One.1  One.2  One.3  One.4  One.5  Two.0  Two.1  Two.2  Two.3  \
0     60     60     60     45     45     60    110    117    103    109

   Two.4  Two.5
0    117    102

In [35]:
df = pd.DataFrame(data)
print(df)

   One  Two
0   60  110
1   60  117
2   60  103
3   45  109
4   45  117
5   60  102