In [17]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/titanic.csv')

In [3]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.0,1,1,C.A. 37671,15.9000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
836,837,0,3,"Pasic, Mr. Jakob",male,21.0,0,0,315097,8.6625,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S

In [11]:
pip install "pydantic<2"

Collecting pydantic<2
  Downloading pydantic-1.10.21-cp311-cp311-win_amd64.whl.metadata (155 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pydantic<2) (4.12.2)
Downloading pydantic-1.10.21-cp311-cp311-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ------------------------------------ --- 2.1/2.3 MB 14.7 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 14.6 MB/s eta 0:00:00
Installing collected packages: pydantic
  Attempting uninstall: pydantic
    Found existing installation: pydantic 2.10.6
    Uninstalling pydantic-2.10.6:
      Successfully uninstalled pydantic-2.10.6
Successfully installed pydantic-1.10.21
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pydantic-settings 2.8.0 requires pydantic>=2.7.0, but you have pydantic 1.10.21 which is incompatible.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
from ydata_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file("output.html")

c:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\profile_report.py:358: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(
Summarize dataset: 100%|██████████| 47/47 [00:03<00:00, 12.03it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.37s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.96s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 58.38it/s]